<div class="info">
<ul>
  <li>Terrain: {{planetData.Terrain}}</li>
  <li>Population: {{planetData.Population}}</li>
  <li>Region: {{planetData.Region}}</li>
  <li>Native species: {{planetData.[Native species]}}</li>
  <li>Notable Events: {{planetData.[Notable Events]}}</li>
</ul>
</div>
